@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom_button_color: #e25e3e;
  --secondary-colour: #ff9b50;
  --bold-text-colour: #424e79;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  padding: 70px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a,
span,
label {
  display: inline-block;
}

ul li {
  list-style: none;
}

a,
a:focus {
  text-decoration: none !important;
}

button:focus,
input:focus,
textarea:focus,
button,
input,
textarea {
  outline: 0;
  border: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}