@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bree+Serif&family=Merriweather+Sans:wght@400;500;600&family=Noto+Sans+Bengali:wght@400;500;600;700;800;900&family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+Bengali:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bree+Serif&family=Noto+Sans+Bengali:wght@400;500;600;700;800;900&family=Seymour+One&display=swap");
@layer components {
  .icon-design {
    @apply text-text_colour text-2xl border border-secondary_colour p-3 rounded-full hover:border hover:border-primary_colour hover:text-primary_colour;
  }
  .icon-design-right-for-hover {
    @apply absolute right-full top-1/2 z-20 mr-2 -translate-y-1/2 whitespace-nowrap  py-1.5 px-3.5 text-sm text-text_colour opacity-0 group-hover:opacity-100 bg-[#404042];
  }
  .icon-design-right {
    @apply text-text_colour text-xl border border-secondary_colour p-2 rounded-full hover:border hover:border-primary_colour hover:text-primary_colour;
  }
  .middle-body-buton {
    @apply border text-text_colour border-text_colour gap-2 items-center px-4 py-2 rounded-full  w-auto inline-flex;
  }
  .middle-body-title {
    @apply text-white text-5xl font-light font-custom_intro_font;
  }
  .middle-body-skill-div {
    @apply flex flex-col gap-2 w-24 h-24 justify-center items-center text-center border border-text_colour group-hover:border-primary_colour rounded-full;
  }
  .middle-body-skill-h-text {
    @apply text-text_colour text-sm font-custom_subtitle_font font-light mt-1 group-hover:text-primary_colour;
  }
  .details-page-icon-design {
    @apply flex flex-col p-4 justify-center items-center text-center border border-primary_colour hover:border-teal-600 rounded-full;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.animate-heartbeat {
  animation: heartbeat 4s infinite;
}
.animate-heartbeat:hover {
  animation: heartbeat;
}

html {
  scroll-behavior: smooth;
  background-color: #212529;
  /*  background-color: #0d1224; */
}
:root {
  --custom_button_color: #e25e3e;
  --secondary-colour: #565656;
  --primary-colour: #28e98c;
  --text-colour: #999999;
  --custom-intro-font: "Bree Serif", serif;
  --custom-name-font: "Archivo Black", sans-serif;
  --custom-subtitle-font: "Merriweather Sans", sans-serif;
}
/* body {
  background-color: #212529;
} */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
span,
label {
  display: inline-block;
}

ul li {
  list-style: none;
}

a,
a:focus {
  text-decoration: none !important;
}

button:focus,
input:focus,
textarea:focus,
button {
  outline: 0;
  border: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}

/* dom manupulation for opup open to make bg blur */
/* styles.css */

/* ckeditor  styles.css */
.ck-editor__editable {
  min-height: 217px !important;
  max-height: 800px !important;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

.slick-prev {
  left: 2% !important;
  z-index: 1;
}

.slick-prev::before {
  color: var(--text-colour) !important;
  font-size: 40px !important;
}
.slick-next::before {
  color: var(--text-colour) !important;
  font-size: 40px !important;
}
.slick-next {
  right: 2% !important;
  z-index: 1;
}

/* custom arrow */
.custom-prev-arrow {
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: 9999;
  color: var(--primary-colour);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: xx-large;
}

.custom-next-arrow {
  position: absolute;
  top: 30%;
  right: 0%;
  z-index: 9999;
  color: var(--primary-colour);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: xx-large;
}
@media (min-width: 320px) {
  .custom-prev-arrow {
    top: 14%;
    left: 0%;
    font-size: medium;
  }

  .custom-next-arrow {
    top: 14%;
    right: 0%;
    font-size: medium;
  }
}

@media (min-width: 640px) {
  .custom-prev-arrow {
    top: 10%;
    left: 0%;
    font-size: medium;
  }

  .custom-next-arrow {
    top: 10%;
    right: 0%;
    font-size: medium;
  }
}

@media (min-width: 768px) {
  .custom-prev-arrow {
    top: 20%;
    left: 0%;
    font-size: x-large;
  }

  .custom-next-arrow {
    top: 20%;
    right: 0%;
    font-size: x-large;
  }
}
@media (min-width: 1024px) {
  .custom-prev-arrow {
    top: 15%;
    left: 0%;
    font-size: x-large;
  }

  .custom-next-arrow {
    top: 15%;
    right: 0%;
    font-size: x-large;
  }
}

@media (min-width: 1280px) {
  .custom-prev-arrow {
    top: 22%;
    left: 0%;
    font-size: xx-large;
  }

  .custom-next-arrow {
    top: 22%;
    right: 0%;
    font-size: xx-large;
  }
}

@media (min-width: 1536px) {
  .custom-prev-arrow {
    top: 30%;
    left: 0%;
    font-size: xx-large;
  }

  .custom-next-arrow {
    top: 30%;
    right: 0%;
    font-size: xx-large;
  }
}
/* custom arrow */
/* transition-colors duration-300 group-hover:outline-primary_colour */
.side-desing-resume {
  position: relative;
}

.side-desing-resume::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--text-colour);
  border-radius: 50%;
  left: -30px;
  right: 115px;
  top: 5px;
  transition: background-color 0.3s ease;

  /* Apply styles when the group is hovered */
}
.group:hover .side-desing-resume::before {
  background-color: var(--primary-colour);
}
.side-desing-resume::after {
  content: "";
  background: #333333;
  width: 2px;
  height: 150px;
  position: absolute;
  left: -25px;
  right: 115px;
  top: 17px;
}
.side-desing-resume2nd {
  position: relative;
}

.side-desing-resume2nd::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--text-colour);
  border-radius: 50%;
  left: -30px;
  right: 115px;
  top: 10px;
  transition: background-color 0.3s ease;
}
.side-desing-resume2nd::after {
  content: "";
  background: #333333;
  width: 2px;
  height: 150px;
  position: absolute;
  left: -25px;
  right: 115px;
  top: 22px;
}
.group:hover .side-desing-resume2nd::before {
  background-color: var(--primary-colour);
}

.side-desing-resume3rd {
  position: relative;
}
.side-desing-resume3rd::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--text-colour);
  border-radius: 50%;
  left: -30px;
  right: 115px;
  top: 10px;
  transition: background-color 0.3s ease;
}
.side-desing-resume3rd::after {
  content: "";
  background: #333333;
  width: 2px;
  height: 110px;
  position: absolute;
  left: -25px;
  right: 115px;
  top: 25px;
}
.group:hover .side-desing-resume3rd::before {
  background-color: var(--primary-colour);
}
/* .side-desing-resume2nd::after {
  content: "";
  background: #333333;
  width: 2px;
  height: 100%;
  position: absolute;
  left: -25px;
  right: 115px;
  top: 115px;
  z-index: -1;
} */
/* css function  */
.active {
  color: var(--primary-colour); /* Set the desired color for the active link */
}

/* @layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
 */
